*{
    font-family: "Champagne & Limousines", sans-serif;
}
.navbar-light{
	.navbar-nav{
		.nav-link{
			color: black;
		}
		.nav-link:hover{
				border: 1px solid black;
		}
	}
}
.header__logo{
    width: 150px;
}

@media (min-width: 576px) {
	
}